@page "/"
@inject panel.Services.Localization Localization

<PageTitle>@Localization.Translate("Page.Home.PageTitle")</PageTitle>

<div class="container mx-8 my-8">
    <h3>
        @Localization.Translate("Page.Home.WelcomeText")
    </h3>
</div>
