@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content mx-8 my-8">
            @Body
        </article>
    </main>
</div>

@inject panel.Services.Localization Localization
@inject panel.Services.Credentials Credentials
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime
@code {
    private async Task ReLogin() 
    {
        await Credentials.ForgetCredentials();
        Navigation.NavigateTo("/login");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!Navigation.Uri.EndsWith("/login", StringComparison.OrdinalIgnoreCase))
        {
            await Credentials.GetCredentials();
            bool isLoggedIn = false;
            try 
            {
                isLoggedIn = await new panel.Helpers.Auth().Login(Credentials);
            }
            catch (ArgumentException) 
            {  
                await JsRuntime.InvokeVoidAsync("alert", Localization.Translate("Page.Login.Alert.InvalidURL").ToString());
                await ReLogin();
            }
            catch (System.Net.WebException) 
            {
                await JsRuntime.InvokeVoidAsync("alert", Localization.Translate("Page.Login.Alert.NotOC").ToString());
                await ReLogin();
            }
            finally 
            {
                if (!isLoggedIn) 
                {
                    await JsRuntime.InvokeVoidAsync("alert", Localization.Translate("Page.Login.Alert.LoginFailed").ToString());
                    await ReLogin();
                }
            }
        }
    }
}
   